<?xml version='1.0' encoding='utf-8'?>
<widget id="com.c10.usm" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>C10 Navigation</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
	<icon src="icon_77.png" width="77" height="77" />
	<icon src="icon_48.png" width="48" height="48" />
	<icon src="icon_38.png" width="38" height="38" />
    <content src="index.html" />
    <access origin="*" />
</widget>
